
@import url("https://fonts.googleapis.com/css?family=Fira+Code|Reenie+Beanie&display=swap");
body {
  background: #5a4f6114;
  position: relative;
  min-height: 100vh;
}

.logo {
  height: 40px;
  font-size: 3em;
  font-family: "Reenie Beanie", cursive;
  padding: 10px 20px;
}

a {
  color: unset;
}

a:visited,
a:link,
a:active {
  text-decoration: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

a:hover span {
  font-weight: bolder;
}
/*  the logo part is complete*/


/* Start of the form part */
.form {
  background: white;
  min-height: 23rem;
  margin: 0 auto 40px;
  font-family: "Reenie Beanie", cursive;
  background-image: linear-gradient(180deg, white 3rem, #f0a4a4 calc(3rem), #f0a4a4 calc(3rem + 2px), transparent 1px), repeating-linear-gradient(0deg, transparent, transparent 1.47rem, #ddd 1px, #ddd calc(1.47rem + 1px));
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.33);
}

.title {
  height: calc(3rem);
  font-size: 1.8em;
  line-height: 1em;
  text-align: center;
  white-space: normal;
  display: table;
  width: 100%;
}
.title span {
  padding: 0 12px;
  display: table-cell;
  vertical-align: middle;
}

.content {
  padding: 0 12px 18px;
  top: 0;
  font-size: 1.3em;
  color: #333;
}
.content pre {
  font-family: "Fira Code", monospace;
  background: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 7px;
  font-size: 8px;
  color: black;
}
.content img {
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 20px;
  background: #fafafa;
  width: calc(100% - 42px);
}

/* end of the form */

  form {
  max-width: 400px;
  }
  label, input, textarea, select{
  display:block;
  width:100%;
  
  }
  input[type="submit"]{
  display:inline-block;
  width:auto;

}
.errorlist {
padding:0;
margin:0;
}
.errorlist li{
color:red;
list-style:none;
}
.alert{
padding:0.5rem;
}
.alert-success{
background-color: #dfd
}
.alert-error{
background-color:#ba2121;
color:#fff;
}

@media (min-width: 618px) {
  
  .form {
    width: 576px;
  }

  .content {
    width: 552px;
  }
  .content pre {
    font-size: 12px;
  }

  
}
@media (min-width: 1150px) {
  .content pre {
    font-size: 12.5px;
  }
}