@import url("https://fonts.googleapis.com/css?family=Fira+Code|Reenie+Beanie&display=swap");
body { 
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif; 
}

.logo {
    height: 50px;
    font-size: 2em;
    font-family: "Reenie Beanie", cursive;
    padding: 10px 20px;
    top: 0%;
    left: 0%;
  }

a { 
    color:#00abff;
    text-decoration:none; 
}

a.logo {
    color: unset;
  }

a.logo:visited,
a.logo:link,
a.logo:active {
  text-decoration: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

a.logo:hover span {
  font-weight: bolder;
}

h1 { 
    font-weight:normal;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
}

h2 {
    font-weight:normal;
    margin:30px 0 0;
}

#content { 
    float:left;
    width:60%;
    padding:0 0 0 30px; 
   
    
}

#content h1{
    color:#00abff;
    text-decoration:none;
}



#sidebar { 
    float:right;
    width:30%;
    padding:10px;
    background:#efefef; 
    height:100%;
}


p.date { 
    color:#ccc;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic; 
}

/* pagination */
.pagination { 
    margin:40px 0; 
    font-weight:bold;
}

/* forms */
label { 
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px; 
}
input, textarea { 
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px;
}
input[type=submit] {
    font-weight:bold;
    background:#ffffff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase; 
    cursor: pointer;
}
.errorlist { 
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px; 
}

/* comments */

.container .row .comment {
  border-top: 1px solid #e6e6e6;
  margin-right: 1rem;
  padding-bottom: 0.125rem;
  width: 80%;
}
.container .row .comment:nth-child(even) {
    margin-right: auto;
    background:#efefef;
}
.container .row .comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}