{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="{% static 'css/normalize.min.css' %}">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Fira+Code|Reenie+Beanie&amp;display=swap'>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/default.min.css'>
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<script src="{% static 'js/app.js' %}" defer></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{% if title %} {{title}} {% else %} Blog {% endif %}</title>
</head>
<body>
    <div class="logo">
        <a><span>Software.</span>Bytes</a>
    </div>
{% block content %}
{% endblock %}
</body>
</html